create database [QLCAFE]
go
USE [QLCAFE]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[SOHOADONDAT] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADONDAT] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[SOHOADONNHAP] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADONNHAP] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SOHOADONDAT] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYMUA] [datetime] NOT NULL,
	[NGAYGIAO] [datetime] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[TONGTIEN] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADONDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONNHAPHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONNHAPHANG](
	[SOHOADONNHAP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAPHANG] [datetime] NOT NULL,
	[TINHTRANGDONNHAP] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MaDVT] [int] IDENTITY(1,1) NOT NULL,
	[TenDVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [varchar](12) NOT NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALH] [int] IDENTITY(1,1) NOT NULL,
	[TENLH] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [varchar](10) NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[MAQUYEN] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [varchar](12) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [smallint] NOT NULL,
	[QUYEN] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/4/2020 5:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[MALH] [int]  NOT NULL,
	[HANGTON] [int] NOT NULL,
	[MANCC] [int]  NOT NULL,
	[MaDVT] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GIA] [bigint] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [PK_CHITIETDATHANG_DONDATHANG] FOREIGN KEY([SOHOADONDAT])
REFERENCES [dbo].[DONDATHANG] ([SOHOADONDAT])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [PK_CHITIETDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [PK_CHITIETDATHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [PK_CHITIETDATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [PK_CHITIETNHAPHANG_DONNHAPHANG] FOREIGN KEY([SOHOADONNHAP])
REFERENCES [dbo].[DONNHAPHANG] ([SOHOADONNHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [PK_CHITIETNHAPHANG_DONNHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [PK_CHITIETNHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [PK_CHITIETNHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [PK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [PK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [PK_NGUOIDUNG_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [PK_NGUOIDUNG_QUYEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DONVITINH] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DONVITINH] ([MaDVT])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DONVITINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [PK_SANPHAM_LOAIHANG] FOREIGN KEY([MALH])
REFERENCES [dbo].[LOAIHANG] ([MALH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [PK_SANPHAM_LOAIHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [PK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [PK_SANPHAM_NHACUNGCAP]
GO
