@model QuanLyCafe.Models.LoaiHangModel
<div>
    <h3 class="text-center mb-1">Cập Nhật Loại Hàng</h3>
    <form id="myFormLHEx" class="form-group col-12">
        <div class="row mb-3">
            @Html.HiddenFor(model => model.MALH)
        </div>
        <div class="row mb-3">
            <span class="col-4">Tên loại hàng</span>
            @Html.TextBoxFor(model => model.TENLH, new { @class = "col-7" })
            @Html.ValidationMessageFor(model => model.TENLH, "", new { @class = "text-danger", @style = "margin-left:155px" })
        </div>
    </form>
    <div class="text-center">
        <img src="~/Content/images/loading.gif" style="display:none" id="imgLHEx" />
    </div>
    <div class="text-center">
        <button href="#" class="btn btn-primary" style="width:100px;margin-left:56px" type="submit" onclick="CapNhatLHEx()">
            <span>Cập nhật</span>
        </button>
        <button href="#" class="btn btn-danger" style="width:100px" data-dismiss="modal">
            <span>Hủy</span>
        </button>
    </div>
</div>
<script>
    var CapNhatLHEx = function () {
        if (!$("#myFormLHEx").valid()) {
            return false;
        } else {
            $("#img").show();
        }
        var data = $("#myFormLHEx").serialize();
        $.ajax({
            type: "Post",
            url: "/Home/CapNhatLHEx",
            data: data,
            success: function () {
                $("#myModalXemThongTin").modal("hide");
                $("#ThemTP").hide();
                window.location.href = "/Home/Index2";
            }
        })
    }
</script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>