@model QuanLyCafe.Models.DonViTinhModel
<div>
    <h2 class="text-center">Thêm Đơn vị tính</h2>
    <form id="myFormDVT" class="form-group col-12">
        <div class="row mb-3">
            @Html.HiddenFor(model=>model.MaDVT)
            <span class="col-4">Đơn vị tính</span>
            @Html.TextBoxFor(model => model.TenDVT, new { @class = "col-7" })
            @Html.ValidationMessageFor(model => model.TenDVT, "", new { @class = "text-danger", @style = "margin-left:142px" })
        </div>
    </form>
    <div class="text-center">
        <img src="~/Content/images/loading.gif" style="display:none" id="imgLH" />
    </div>
    <div class="text-center">
        <button href="#" class="btn btn-primary" style="width:100px;margin-left:56px" type="submit" onclick="CapNhatDVT()">
            <span>Cập nhật</span>
        </button>
        <button href="#" class="btn btn-danger" style="width:100px" onclick="HuyLH()">
            <span>Hủy</span>
        </button>
    </div>
</div>
<script>
    var HuyLH = function () {
        $("#ThemTP").hide();
    }
    var CapNhatDVT = function () {
        var data = $("#myFormDVT").serialize();
        if (!$("#myFormDVT").valid()) {
            return false;
        } else {
            $("#imgLH").show();
        }

        $.ajax({
            type: "Post",
            url: "/Home/PostThemDVT",
            data: data,
            success: function (response) {
                if (response) {                 
                    alert("Đã thêm thành công!");
                    window.location.href = "/Home/Index2";
                } else {
                    alert("Đơn vị tính đã tồn tại!");               
                }
                HuyLH();
            }
        })
    }
</script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

