@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


a.dropdown-item.btn:hover , a.dropdown-item.btn:focus {
    background-color:blue;
    color:white;
    cursor:pointer;
}
footer.text-center {
    background: saddlebrown;
    color: aliceblue;
    font-size:20px;
}
.container-fluid{
    padding:0px;
}