@model QuanLyCafe.Models.NguoiDungModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<title>Đăng nhập T&T Coffee Managerment</title>
<link rel="icon" type="image/png" href="../../Content/images/icons/LogoCafe.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../Content/css/util.css">
<link rel="stylesheet" type="text/css" href="../../Content/css/main.css">

<div>
    <div class="limiter">
        <div class="container-login100" style=" background-image: url('../../Content/images/bg_login.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="myForm">
                    <span class="login100-form-logo">
                        <img src="~/Content/images/icons/LogoCafe.png" class="img-responsive" />
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27" style="color:cyan">
                        Đăng Nhập
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Nhập Kí danh">
                        @*<input class="input100" type="text" id="username" placeholder="Username" >*@
                        @Html.TextBoxFor(model => model.MAND, new { @class = "input100", @placeholder = "Kí danh", @type = "text", @onkeyup = "inputKeyUp(event)" })
                        <span class="focus-input100" data-placeholder="&#xf207"></span>

                    </div>

                    <div class="wrap-input100 validate-input mb-0" data-validate="Mật khẩu ít nhất 8 kí tự gồm chữ và số!">
                        @*<input class="input100" type="password" id="pass" placeholder="Password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">*@
                        @Html.TextBoxFor(model => model.PASSWORD, new { @class = "input100", @placeholder = "Mật khẩu", @type = "password", @onkeyup = "inputKeyUp(event)"})
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })

                    <div class="container-login100-form-btn mt-2">
                        <button class="login100-form-btn btn" type="submit" onclick="TrangChu()">
                            Đăng Nhập
                        </button>
                    </div>

                    @*<div class="text-center p-t-90">
            <a class="txt1" href="#">
                Forgot Password?
            </a>
        </div>*@
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="../../Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/vendor/bootstrap/js/popper.js"></script>
    <script src="../../Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="../../Content/js/main.js"></script>


    <script>

        var TrangChu = function () {

            var data = $("#myForm").serialize()
            $("#myForm").submit(function () { return false; });
            $.ajax({
                type: "POST",
                url: "/Login/LoginUser",
                data: data,
                success: function (response) {

                    if (response == "fail") {
                        window.location.href = "/Login/Index"
                        alert("Tài khoản không đúng! Hãy kiểm tra Kí danh hoặc Mật Khẩu!")
                    } else if (response == "admin") {
                        window.location.href = "/Home/Index"
                    } else if (response == "NhanVien") {
                        window.location.href = "/XuatHang/Index"
                    } else {

                    }

                }
            })

        }

        function inputKeyUp(e) {
            if (e.keyCode === 13) {
                TrangChu();
            }
        }
    </script>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



